.main-drop-container {
    min-height: calc(100vh - 100px);
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../supplies/undraw_city_life_gnpr.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.drop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    border: 3px dashed #000;
    border-radius: 10px;
    padding: 150px;
    font-size: 20px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.800);
}

.drop-container p {
    margin: 20px;
}

.drop-container:hover {
    cursor: pointer;
}

.drop-container aside {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.drop-container aside ul li button {
    padding: 10px;
    border-radius: 10px;
}

.accepted-files {
    width: 100px;
    font-weight: 600;
    color: #fff;
    margin: 10px;
    background-color: #06ca7c;
    padding: 10px;
    border: 0.5px solid #000;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out .2s;
}

.accepted-files:hover {
    color: #fff;
    background-color: #0cdb88ce;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transition: all ease-in-out .2s;
}

.rejected-files {
    width: 100px;
    font-weight: 600;
    color: #fff;
    margin: 10px;
    background-color: red;
    padding: 10px;
    border: 0.5px solid #000;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out .2s;
}

.rejected-files:hover {
    background-color: rgba(255, 0, 0, 0.692);
    box-shadow: 0px 15px 20px rgba(255, 0, 0, 0.4);
    transition: all ease-in-out .2s;
}

@media (max-width: 968px) {
    .drop-container {
        height: 50%;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .drop-container p {
        font-size: 10px;
        width: 300px;
    }
    .drop-container em {
        font-size: 10px;
        width: 300px;
    }
    .drop-container aside {
        margin: 5px;
        font-size: 10px;
    }
    .accepted-files {
        width: 100px;
    }
    .rejected-files {
        width: 100px;
    }
}

@media (max-height: 00px) {
    .drop-container {
        height: 50%;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .drop-container p {
        font-size: 10px;
        width: 300px;
    }
    .drop-container em {
        font-size: 10px;
        width: 300px;
    }
    .drop-container aside {
        margin: 5px;
        font-size: 10px;
    }
    .accepted-files {
        width: 100px;
    }
    .rejected-files {
        width: 100px;
    }
}